:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#the-pre {
  font-size: 12px;
  line-height: 1.1;
  display: inline-block;

  /*border: dotted 1px;*/
  padding: 8px;

  pointer-events: none;

  user-select: none;

  margin-top: -10px;

  box-shadow: #0000004d inset 0px 0px 8px 0px;

  background: #cccccc;
}

#app {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}

body, html {
  margin: 0;
  padding: 0;
}
